# Игнорируем сырые данные и словари
data/synthea/*
data/vocab/*

# Игнорируем драйверы БД (они скачиваются динамически)
drivers/*

# Игнорируем данные PostgreSQL
postgres_data/

# Игнорируем логи и временные файлы R
*.Rhistory
*.RData
.Rproj.user/